@import '../_conf.scss';


.#{$namespace}__loading {
    display: none;
    width: 37px;
    height: 37px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.#{$namespace}__loading-indicator {
    width: 37px;
    height: 37px;
    background-size: auto 37px;
    background-repeat: no-repeat;
    background-image: url(./loading_white.png);
    -webkit-animation: loading-anim 1s steps(12) infinite;
    animation: loading-anim 1s steps(12) infinite;
}

@-webkit-keyframes loading-anim {
    from {
        background-position: 0 0;
    }
    
    to {
        background-position: -444px 0;
    }
}