@import '../public.styl';

@keyframes iakit-loading-spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

$size = 38px

.{$namespace}-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: $zIndexLoading;
  width: $size;
  height: $size;
  padding: 15px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .6);
  transform: translate(-50%, -50%);
}

.{$namespace}-loading-spinner {
  width: $size;
  height: $size;
  box-sizing: border-box;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(255, 255, 255, .95);
  border-left-color: transparent;
  animation: iakit-loading-spinner .9s linear infinite;
}
