@import '../_conf.scss';


.#{$namespace}__alert {
    display: none;
    width: 80%;
    overflow: hidden;
    margin-top: -25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    border-radius: 4px;
    position: relative;
    top: 50%;
    z-index: $zIndexAlert;
    background-color: #fff;
    -webkit-transition: opacity $duration, -webkit-transform $duration, transform $duration;
    transition: opacity $duration, -webkit-transform $duration, transform $duration;
}

.#{$namespace}__alert-title {
    margin: 0;
    padding: 0 16px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #000;
}

.#{$namespace}__alert-content {
    padding: 0 16px 15px;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    color: #757575;
}

.#{$namespace}__alert-btn {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    outline: none;
    color: #38f;
    background-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

.#{$namespace}__alert-btn:before {
    content: " ";
    width: 100%;
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    font-size: 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.#{$namespace}__alert-btn:active {
    background-color: #e4e4e4;
}

.#{$namespace}__alert-btns {
    display: table;
    width: 100%;
    position: relative;
    font-size: 0;
}

.#{$namespace}__btns-separator:after {
    content: " ";
    width: 1px;
    height: 100%;
    border-left: 1px solid #ccc;
    position: absolute;
    left: 50%;
    -webkit-transform: scaleX(0.5) translateX(-50%);
    transform: scaleX(0.5) translateX(-50%);
}


