$namespace:                 foundation      !default;
$zIndexBase:                9999            !default;
$zIndexAlert:               10000           !default;
$duration:                  0.3s            !default;


@mixin transition($time: $duration) {
    -webkit-transition: all $time;
    transition: all $time;
}



